.component-card{
    width: 8rem;
    height: 8rem;
    padding: 1px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 10%;

}
